@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff6e5;
  font-family: PP, helvetica, arial, sans-serif;
  pointer-events: none;
}

html {
  height: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background: #000000;
}

#stars {
  pointer-events: none;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 564px 40px #fff, 825px 1931px #fff, 1442px 453px #fff,
    1958px 1238px #fff, 44px 894px #fff, 1637px 613px #fff, 841px 1629px #fff,
    1472px 432px #fff, 1630px 1180px #fff, 1147px 543px #fff, 44px 635px #fff,
    1811px 124px #fff, 567px 1114px #fff, 1536px 1919px #fff, 1600px 1495px #fff,
    1759px 1100px #fff, 1303px 1939px #fff, 824px 1518px #fff,
    1197px 1842px #fff, 1268px 774px #fff, 1192px 1743px #fff,
    1825px 1572px #fff, 1724px 1225px #fff, 1682px 456px #fff, 1728px 233px #fff,
    1900px 242px #fff, 497px 340px #fff, 1352px 140px #fff, 1989px 83px #fff,
    1488px 183px #fff, 1765px 994px #fff, 657px 79px #fff, 609px 1794px #fff,
    1570px 171px #fff, 1150px 1472px #fff, 812px 1323px #fff, 140px 1303px #fff,
    730px 91px #fff, 1100px 1326px #fff, 840px 417px #fff, 1635px 543px #fff,
    1130px 1626px #fff, 1983px 1510px #fff, 1056px 561px #fff, 1368px 884px #fff,
    463px 284px #fff, 359px 428px #fff, 1574px 1461px #fff, 1724px 1172px #fff,
    1168px 1304px #fff, 1093px 8px #fff, 158px 1703px #fff, 768px 1310px #fff,
    875px 746px #fff, 181px 601px #fff, 1865px 383px #fff, 1530px 1408px #fff,
    1902px 223px #fff, 491px 1828px #fff, 234px 634px #fff, 1883px 148px #fff,
    822px 1531px #fff, 394px 1826px #fff, 338px 94px #fff, 937px 1267px #fff,
    489px 1904px #fff, 895px 369px #fff, 1705px 1706px #fff, 1038px 1193px #fff,
    1027px 642px #fff, 1092px 312px #fff, 866px 325px #fff, 413px 1709px #fff,
    116px 1795px #fff, 1304px 953px #fff, 1706px 1586px #fff, 1070px 224px #fff,
    1931px 775px #fff, 1439px 1849px #fff, 1199px 229px #fff, 1058px 1415px #fff,
    448px 327px #fff, 343px 1500px #fff, 214px 602px #fff, 671px 1906px #fff,
    1293px 313px #fff, 1423px 501px #fff, 1444px 260px #fff, 292px 1543px #fff,
    1224px 408px #fff, 440px 173px #fff, 112px 1719px #fff, 974px 293px #fff,
    1073px 280px #fff, 370px 990px #fff, 1270px 931px #fff, 991px 1813px #fff,
    439px 483px #fff, 279px 577px #fff, 359px 183px #fff, 832px 1798px #fff,
    1685px 1991px #fff, 738px 1837px #fff, 1021px 669px #fff, 1062px 445px #fff,
    1420px 515px #fff, 68px 1702px #fff, 669px 595px #fff, 1044px 1906px #fff,
    1805px 658px #fff, 713px 1855px #fff, 785px 313px #fff, 1401px 57px #fff,
    1989px 602px #fff, 1756px 759px #fff, 1637px 1434px #fff, 749px 469px #fff,
    1141px 562px #fff, 678px 69px #fff, 340px 861px #fff, 1069px 323px #fff,
    1638px 185px #fff, 467px 906px #fff, 897px 930px #fff, 551px 1288px #fff,
    1837px 1142px #fff, 1834px 709px #fff, 1008px 427px #fff, 322px 428px #fff,
    1918px 544px #fff, 419px 1601px #fff, 806px 361px #fff, 1185px 1505px #fff,
    435px 341px #fff, 1850px 1419px #fff, 1853px 287px #fff, 43px 1618px #fff,
    130px 161px #fff, 1913px 2px #fff, 178px 1050px #fff, 211px 1888px #fff,
    1624px 251px #fff, 1596px 1649px #fff, 1480px 1597px #fff, 18px 760px #fff,
    873px 626px #fff, 560px 585px #fff, 161px 422px #fff, 1534px 379px #fff,
    798px 948px #fff, 699px 1795px #fff, 571px 1840px #fff, 676px 476px #fff,
    1985px 394px #fff, 1502px 1768px #fff, 783px 1285px #fff, 1570px 243px #fff,
    1150px 1247px #fff, 933px 523px #fff, 624px 651px #fff, 80px 1879px #fff,
    469px 320px #fff, 953px 1828px #fff, 1853px 1658px #fff, 1372px 4px #fff,
    1489px 387px #fff, 897px 774px #fff, 545px 1009px #fff, 1381px 1021px #fff,
    567px 724px #fff, 926px 1252px #fff, 799px 286px #fff, 1976px 1834px #fff,
    635px 1293px #fff, 1428px 1730px #fff, 1474px 816px #fff, 857px 310px #fff,
    489px 962px #fff, 788px 1435px #fff, 893px 1479px #fff, 488px 41px #fff,
    1366px 1354px #fff, 1239px 681px #fff, 1765px 1401px #fff, 667px 58px #fff,
    1089px 210px #fff, 1816px 1587px #fff, 20px 868px #fff, 921px 814px #fff,
    339px 657px #fff, 469px 1679px #fff, 13px 1483px #fff, 541px 1118px #fff,
    1731px 1591px #fff, 767px 127px #fff, 545px 628px #fff, 655px 730px #fff,
    1941px 1958px #fff, 1121px 291px #fff, 717px 769px #fff, 446px 1383px #fff,
    1354px 268px #fff, 1624px 661px #fff, 1945px 1570px #fff, 800px 429px #fff,
    1329px 65px #fff, 1837px 428px #fff, 1351px 1705px #fff, 789px 1915px #fff,
    146px 1072px #fff, 735px 1px #fff, 1708px 825px #fff, 418px 1920px #fff,
    1762px 101px #fff, 1515px 1178px #fff, 171px 57px #fff, 1314px 615px #fff,
    1564px 535px #fff, 1017px 753px #fff, 1582px 581px #fff, 1780px 1598px #fff,
    557px 529px #fff, 1770px 441px #fff, 523px 1179px #fff, 765px 1178px #fff,
    171px 1529px #fff, 1817px 466px #fff, 1829px 1530px #fff, 543px 397px #fff,
    1514px 1600px #fff, 616px 836px #fff, 1455px 191px #fff, 316px 531px #fff,
    58px 1368px #fff, 825px 522px #fff, 294px 1461px #fff, 1730px 958px #fff,
    1790px 1498px #fff, 1032px 294px #fff, 1415px 1014px #fff, 1315px 250px #fff,
    1154px 1904px #fff, 1613px 1767px #fff, 281px 1758px #fff,
    1833px 1351px #fff, 1240px 1651px #fff, 1420px 926px #fff, 438px 1551px #fff,
    833px 238px #fff, 1467px 745px #fff, 1804px 1348px #fff, 1440px 1762px #fff,
    644px 1977px #fff, 1659px 1244px #fff, 281px 1159px #fff, 970px 1219px #fff,
    1846px 1696px #fff, 899px 1170px #fff, 1415px 1909px #fff, 384px 950px #fff,
    809px 1796px #fff, 883px 1245px #fff, 1846px 1162px #fff, 372px 373px #fff,
    1771px 1211px #fff, 1653px 691px #fff, 529px 65px #fff, 1434px 1272px #fff,
    806px 1438px #fff, 1652px 723px #fff, 318px 1842px #fff, 1605px 1590px #fff,
    1307px 1809px #fff, 1713px 762px #fff, 615px 374px #fff, 1457px 836px #fff,
    1138px 621px #fff, 1572px 21px #fff, 634px 368px #fff, 777px 1661px #fff,
    1411px 774px #fff, 1940px 321px #fff, 693px 1140px #fff, 911px 575px #fff,
    1776px 1522px #fff, 464px 74px #fff, 1801px 1780px #fff, 1975px 1978px #fff,
    86px 800px #fff, 1542px 1263px #fff, 138px 1639px #fff, 77px 1752px #fff,
    679px 381px #fff, 1685px 1376px #fff, 637px 557px #fff, 1382px 57px #fff,
    1259px 1732px #fff, 232px 1321px #fff, 386px 1269px #fff, 1210px 1675px #fff,
    672px 379px #fff, 1564px 1704px #fff, 691px 1843px #fff, 1791px 1419px #fff,
    1853px 1220px #fff, 1437px 570px #fff, 864px 1443px #fff, 1241px 1271px #fff,
    450px 834px #fff, 408px 1581px #fff, 1431px 1368px #fff, 260px 376px #fff,
    666px 265px #fff, 1403px 1323px #fff, 156px 1183px #fff, 723px 1590px #fff,
    1325px 700px #fff, 698px 1356px #fff, 1935px 993px #fff, 1513px 131px #fff,
    1274px 1753px #fff, 1007px 1518px #fff, 1506px 653px #fff,
    1235px 1723px #fff, 421px 1712px #fff, 1595px 1303px #fff, 1104px 391px #fff,
    1286px 1781px #fff, 1076px 762px #fff, 812px 771px #fff, 876px 589px #fff,
    198px 297px #fff, 337px 1419px #fff, 1291px 1305px #fff, 869px 1121px #fff,
    228px 864px #fff, 673px 1866px #fff, 1430px 1884px #fff, 1601px 1601px #fff,
    1735px 1007px #fff, 964px 370px #fff, 1474px 1715px #fff, 1232px 677px #fff,
    1331px 1357px #fff, 1300px 248px #fff, 309px 1245px #fff, 1000px 1539px #fff,
    1612px 36px #fff, 1115px 1429px #fff, 1707px 507px #fff, 1940px 1150px #fff,
    204px 1144px #fff, 419px 576px #fff, 1257px 838px #fff, 1521px 1016px #fff,
    1500px 826px #fff, 1294px 1530px #fff, 1536px 1268px #fff, 994px 1148px #fff,
    1758px 1939px #fff, 1104px 1314px #fff, 447px 1263px #fff, 1453px 842px #fff,
    605px 448px #fff, 1829px 728px #fff, 1799px 1026px #fff, 446px 459px #fff,
    1873px 260px #fff, 14px 571px #fff, 1491px 1613px #fff, 903px 754px #fff,
    1644px 1634px #fff, 1910px 193px #fff, 1870px 1093px #fff,
    1098px 1829px #fff, 1215px 1590px #fff, 1420px 1482px #fff,
    435px 1190px #fff, 717px 250px #fff, 294px 614px #fff, 424px 527px #fff,
    1883px 1096px #fff, 326px 562px #fff, 702px 368px #fff, 636px 495px #fff,
    1990px 403px #fff, 1800px 1363px #fff, 1424px 1411px #fff,
    1499px 1168px #fff, 119px 1210px #fff, 731px 1189px #fff, 733px 895px #fff,
    732px 1006px #fff, 510px 1136px #fff, 1788px 914px #fff, 1780px 1514px #fff,
    59px 1598px #fff, 521px 946px #fff, 1077px 933px #fff, 1755px 1923px #fff,
    1814px 1984px #fff, 245px 667px #fff, 1803px 1676px #fff, 278px 1132px #fff,
    1543px 1121px #fff, 608px 1914px #fff, 180px 1718px #fff, 191px 1932px #fff,
    1992px 424px #fff, 519px 70px #fff, 1720px 104px #fff, 5px 998px #fff,
    699px 940px #fff, 216px 1090px #fff, 1920px 1724px #fff, 1167px 1162px #fff,
    1158px 1939px #fff, 1357px 379px #fff, 384px 1765px #fff, 1305px 432px #fff,
    1274px 1429px #fff, 1624px 1416px #fff, 185px 964px #fff, 1810px 536px #fff,
    305px 1733px #fff, 854px 310px #fff, 1837px 246px #fff, 1334px 318px #fff,
    714px 1566px #fff, 919px 1877px #fff, 918px 326px #fff, 736px 1142px #fff,
    473px 1919px #fff, 322px 1286px #fff, 1844px 225px #fff, 1899px 587px #fff,
    1487px 793px #fff, 1064px 274px #fff, 216px 895px #fff, 967px 27px #fff,
    827px 1509px #fff, 127px 1096px #fff, 905px 915px #fff, 632px 929px #fff,
    432px 1460px #fff, 714px 718px #fff, 626px 1653px #fff, 439px 1601px #fff,
    1411px 236px #fff, 1021px 552px #fff, 464px 302px #fff, 1892px 793px #fff,
    684px 1043px #fff, 1176px 1484px #fff, 338px 892px #fff, 1606px 1560px #fff,
    264px 393px #fff, 445px 457px #fff, 1683px 1581px #fff, 1173px 332px #fff,
    962px 704px #fff, 1194px 1940px #fff, 1035px 1777px #fff, 1520px 226px #fff,
    989px 1368px #fff, 1047px 560px #fff, 407px 1090px #fff, 1296px 524px #fff,
    1444px 477px #fff, 845px 399px #fff, 315px 1862px #fff, 331px 1054px #fff,
    435px 1438px #fff, 1862px 1026px #fff, 1092px 1019px #fff,
    1111px 1207px #fff, 1139px 668px #fff, 924px 1331px #fff, 1247px 1780px #fff,
    1617px 1220px #fff, 909px 688px #fff, 431px 1996px #fff, 1411px 1434px #fff,
    196px 220px #fff, 1838px 182px #fff, 1372px 1371px #fff, 880px 697px #fff,
    1645px 193px #fff, 141px 1843px #fff, 1159px 1928px #fff, 424px 284px #fff,
    1458px 1811px #fff, 1019px 1913px #fff, 1433px 641px #fff, 232px 526px #fff,
    1926px 1800px #fff, 1076px 1435px #fff, 791px 1318px #fff, 779px 463px #fff,
    72px 1302px #fff, 1527px 306px #fff, 1239px 774px #fff, 452px 590px #fff,
    443px 1780px #fff, 1949px 1919px #fff, 1041px 1531px #fff,
    1725px 1661px #fff, 1452px 1687px #fff, 26px 563px #fff, 1819px 560px #fff,
    1324px 1504px #fff, 686px 1295px #fff, 1509px 1728px #fff, 591px 1955px #fff,
    26px 684px #fff, 1003px 1724px #fff, 594px 1795px #fff, 1384px 1353px #fff,
    601px 1347px #fff, 732px 1489px #fff, 1366px 1663px #fff, 1854px 1178px #fff,
    1007px 841px #fff, 839px 1923px #fff, 927px 958px #fff, 1043px 103px #fff,
    120px 1034px #fff, 1557px 1471px #fff, 91px 1366px #fff, 1859px 729px #fff,
    1132px 655px #fff, 1239px 1870px #fff, 1225px 611px #fff, 684px 992px #fff,
    1393px 1267px #fff, 297px 1431px #fff, 923px 1677px #fff, 707px 1018px #fff,
    1212px 1619px #fff, 1203px 1634px #fff, 430px 1003px #fff, 404px 478px #fff,
    1887px 261px #fff, 1933px 105px #fff, 1524px 967px #fff, 947px 1191px #fff,
    1283px 1899px #fff, 1894px 1589px #fff, 1171px 1179px #fff, 496px 588px #fff,
    1233px 1465px #fff, 745px 1230px #fff, 740px 1894px #fff, 1505px 1806px #fff,
    1967px 506px #fff, 1622px 374px #fff, 376px 1534px #fff, 518px 391px #fff,
    448px 44px #fff, 442px 1770px #fff, 700px 664px #fff, 1636px 1541px #fff,
    1413px 217px #fff, 781px 1609px #fff, 830px 439px #fff, 775px 230px #fff,
    574px 1015px #fff, 403px 1631px #fff, 587px 161px #fff, 229px 1463px #fff,
    432px 1816px #fff, 1407px 253px #fff, 533px 1966px #fff, 561px 1411px #fff,
    8px 876px #fff, 407px 1209px #fff, 479px 667px #fff, 365px 1765px #fff,
    330px 215px #fff, 832px 1314px #fff, 71px 684px #fff, 1152px 983px #fff,
    1700px 1058px #fff, 1757px 999px #fff, 1721px 6px #fff, 1105px 1663px #fff,
    1564px 433px #fff, 1170px 1273px #fff, 1069px 28px #fff, 948px 169px #fff,
    1122px 1380px #fff, 505px 440px #fff, 1865px 36px #fff, 410px 1160px #fff,
    691px 520px #fff, 233px 1920px #fff, 1264px 248px #fff, 1742px 835px #fff,
    403px 375px #fff, 413px 9px #fff, 1679px 1919px #fff, 1734px 1850px #fff,
    505px 1225px #fff, 204px 330px #fff, 22px 654px #fff, 1628px 1216px #fff,
    232px 1202px #fff, 41px 1229px #fff, 1730px 1380px #fff, 671px 798px #fff,
    1783px 1206px #fff, 1707px 549px #fff, 1834px 434px #fff, 1130px 1369px #fff,
    1028px 1949px #fff, 1126px 1144px #fff, 932px 1909px #fff, 1518px 281px #fff,
    901px 784px #fff, 113px 689px #fff, 1564px 956px #fff, 113px 425px #fff,
    887px 1889px #fff, 1295px 1954px #fff, 45px 1113px #fff, 1562px 1367px #fff,
    887px 1621px #fff, 1638px 462px #fff, 856px 338px #fff, 379px 1336px #fff,
    459px 1262px #fff, 682px 2px #fff, 808px 1874px #fff, 1142px 1335px #fff,
    1456px 1200px #fff, 148px 1990px #fff, 234px 220px #fff, 1022px 1296px #fff,
    66px 80px #fff, 1614px 1461px #fff, 1859px 1347px #fff, 1194px 315px #fff,
    1037px 1181px #fff, 878px 229px #fff, 1910px 1160px #fff, 1026px 1535px #fff,
    352px 1762px #fff, 368px 1381px #fff, 993px 271px #fff, 1942px 1807px #fff,
    1309px 565px #fff, 718px 1725px #fff, 1254px 704px #fff, 1305px 536px #fff,
    1666px 559px #fff, 664px 366px #fff, 82px 329px #fff, 33px 23px #fff,
    224px 1178px #fff, 251px 530px #fff, 1785px 1431px #fff, 11px 1159px #fff,
    1478px 892px #fff, 162px 932px #fff, 1419px 1px #fff, 1197px 877px #fff,
    1210px 210px #fff, 850px 375px #fff, 1104px 490px #fff, 578px 56px #fff,
    1809px 585px #fff, 1995px 1713px #fff, 391px 523px #fff, 1825px 239px #fff,
    716px 445px #fff, 321px 1952px #fff, 1897px 1730px #fff, 337px 1202px #fff,
    617px 1371px #fff, 1628px 1885px #fff, 604px 291px #fff, 1772px 1129px #fff,
    1801px 294px #fff, 1736px 492px #fff, 349px 1345px #fff, 1756px 1364px #fff,
    1070px 1054px #fff, 1385px 347px #fff, 1885px 470px #fff, 611px 336px #fff,
    915px 181px #fff, 417px 1917px #fff, 1556px 1667px #fff, 1917px 188px #fff,
    203px 211px #fff, 1525px 1754px #fff, 491px 1110px #fff, 1614px 581px #fff,
    1804px 1832px #fff, 1757px 1737px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  pointer-events: none;

  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 564px 40px #fff, 825px 1931px #fff, 1442px 453px #fff,
    1958px 1238px #fff, 44px 894px #fff, 1637px 613px #fff, 841px 1629px #fff,
    1472px 432px #fff, 1630px 1180px #fff, 1147px 543px #fff, 44px 635px #fff,
    1811px 124px #fff, 567px 1114px #fff, 1536px 1919px #fff, 1600px 1495px #fff,
    1759px 1100px #fff, 1303px 1939px #fff, 824px 1518px #fff,
    1197px 1842px #fff, 1268px 774px #fff, 1192px 1743px #fff,
    1825px 1572px #fff, 1724px 1225px #fff, 1682px 456px #fff, 1728px 233px #fff,
    1900px 242px #fff, 497px 340px #fff, 1352px 140px #fff, 1989px 83px #fff,
    1488px 183px #fff, 1765px 994px #fff, 657px 79px #fff, 609px 1794px #fff,
    1570px 171px #fff, 1150px 1472px #fff, 812px 1323px #fff, 140px 1303px #fff,
    730px 91px #fff, 1100px 1326px #fff, 840px 417px #fff, 1635px 543px #fff,
    1130px 1626px #fff, 1983px 1510px #fff, 1056px 561px #fff, 1368px 884px #fff,
    463px 284px #fff, 359px 428px #fff, 1574px 1461px #fff, 1724px 1172px #fff,
    1168px 1304px #fff, 1093px 8px #fff, 158px 1703px #fff, 768px 1310px #fff,
    875px 746px #fff, 181px 601px #fff, 1865px 383px #fff, 1530px 1408px #fff,
    1902px 223px #fff, 491px 1828px #fff, 234px 634px #fff, 1883px 148px #fff,
    822px 1531px #fff, 394px 1826px #fff, 338px 94px #fff, 937px 1267px #fff,
    489px 1904px #fff, 895px 369px #fff, 1705px 1706px #fff, 1038px 1193px #fff,
    1027px 642px #fff, 1092px 312px #fff, 866px 325px #fff, 413px 1709px #fff,
    116px 1795px #fff, 1304px 953px #fff, 1706px 1586px #fff, 1070px 224px #fff,
    1931px 775px #fff, 1439px 1849px #fff, 1199px 229px #fff, 1058px 1415px #fff,
    448px 327px #fff, 343px 1500px #fff, 214px 602px #fff, 671px 1906px #fff,
    1293px 313px #fff, 1423px 501px #fff, 1444px 260px #fff, 292px 1543px #fff,
    1224px 408px #fff, 440px 173px #fff, 112px 1719px #fff, 974px 293px #fff,
    1073px 280px #fff, 370px 990px #fff, 1270px 931px #fff, 991px 1813px #fff,
    439px 483px #fff, 279px 577px #fff, 359px 183px #fff, 832px 1798px #fff,
    1685px 1991px #fff, 738px 1837px #fff, 1021px 669px #fff, 1062px 445px #fff,
    1420px 515px #fff, 68px 1702px #fff, 669px 595px #fff, 1044px 1906px #fff,
    1805px 658px #fff, 713px 1855px #fff, 785px 313px #fff, 1401px 57px #fff,
    1989px 602px #fff, 1756px 759px #fff, 1637px 1434px #fff, 749px 469px #fff,
    1141px 562px #fff, 678px 69px #fff, 340px 861px #fff, 1069px 323px #fff,
    1638px 185px #fff, 467px 906px #fff, 897px 930px #fff, 551px 1288px #fff,
    1837px 1142px #fff, 1834px 709px #fff, 1008px 427px #fff, 322px 428px #fff,
    1918px 544px #fff, 419px 1601px #fff, 806px 361px #fff, 1185px 1505px #fff,
    435px 341px #fff, 1850px 1419px #fff, 1853px 287px #fff, 43px 1618px #fff,
    130px 161px #fff, 1913px 2px #fff, 178px 1050px #fff, 211px 1888px #fff,
    1624px 251px #fff, 1596px 1649px #fff, 1480px 1597px #fff, 18px 760px #fff,
    873px 626px #fff, 560px 585px #fff, 161px 422px #fff, 1534px 379px #fff,
    798px 948px #fff, 699px 1795px #fff, 571px 1840px #fff, 676px 476px #fff,
    1985px 394px #fff, 1502px 1768px #fff, 783px 1285px #fff, 1570px 243px #fff,
    1150px 1247px #fff, 933px 523px #fff, 624px 651px #fff, 80px 1879px #fff,
    469px 320px #fff, 953px 1828px #fff, 1853px 1658px #fff, 1372px 4px #fff,
    1489px 387px #fff, 897px 774px #fff, 545px 1009px #fff, 1381px 1021px #fff,
    567px 724px #fff, 926px 1252px #fff, 799px 286px #fff, 1976px 1834px #fff,
    635px 1293px #fff, 1428px 1730px #fff, 1474px 816px #fff, 857px 310px #fff,
    489px 962px #fff, 788px 1435px #fff, 893px 1479px #fff, 488px 41px #fff,
    1366px 1354px #fff, 1239px 681px #fff, 1765px 1401px #fff, 667px 58px #fff,
    1089px 210px #fff, 1816px 1587px #fff, 20px 868px #fff, 921px 814px #fff,
    339px 657px #fff, 469px 1679px #fff, 13px 1483px #fff, 541px 1118px #fff,
    1731px 1591px #fff, 767px 127px #fff, 545px 628px #fff, 655px 730px #fff,
    1941px 1958px #fff, 1121px 291px #fff, 717px 769px #fff, 446px 1383px #fff,
    1354px 268px #fff, 1624px 661px #fff, 1945px 1570px #fff, 800px 429px #fff,
    1329px 65px #fff, 1837px 428px #fff, 1351px 1705px #fff, 789px 1915px #fff,
    146px 1072px #fff, 735px 1px #fff, 1708px 825px #fff, 418px 1920px #fff,
    1762px 101px #fff, 1515px 1178px #fff, 171px 57px #fff, 1314px 615px #fff,
    1564px 535px #fff, 1017px 753px #fff, 1582px 581px #fff, 1780px 1598px #fff,
    557px 529px #fff, 1770px 441px #fff, 523px 1179px #fff, 765px 1178px #fff,
    171px 1529px #fff, 1817px 466px #fff, 1829px 1530px #fff, 543px 397px #fff,
    1514px 1600px #fff, 616px 836px #fff, 1455px 191px #fff, 316px 531px #fff,
    58px 1368px #fff, 825px 522px #fff, 294px 1461px #fff, 1730px 958px #fff,
    1790px 1498px #fff, 1032px 294px #fff, 1415px 1014px #fff, 1315px 250px #fff,
    1154px 1904px #fff, 1613px 1767px #fff, 281px 1758px #fff,
    1833px 1351px #fff, 1240px 1651px #fff, 1420px 926px #fff, 438px 1551px #fff,
    833px 238px #fff, 1467px 745px #fff, 1804px 1348px #fff, 1440px 1762px #fff,
    644px 1977px #fff, 1659px 1244px #fff, 281px 1159px #fff, 970px 1219px #fff,
    1846px 1696px #fff, 899px 1170px #fff, 1415px 1909px #fff, 384px 950px #fff,
    809px 1796px #fff, 883px 1245px #fff, 1846px 1162px #fff, 372px 373px #fff,
    1771px 1211px #fff, 1653px 691px #fff, 529px 65px #fff, 1434px 1272px #fff,
    806px 1438px #fff, 1652px 723px #fff, 318px 1842px #fff, 1605px 1590px #fff,
    1307px 1809px #fff, 1713px 762px #fff, 615px 374px #fff, 1457px 836px #fff,
    1138px 621px #fff, 1572px 21px #fff, 634px 368px #fff, 777px 1661px #fff,
    1411px 774px #fff, 1940px 321px #fff, 693px 1140px #fff, 911px 575px #fff,
    1776px 1522px #fff, 464px 74px #fff, 1801px 1780px #fff, 1975px 1978px #fff,
    86px 800px #fff, 1542px 1263px #fff, 138px 1639px #fff, 77px 1752px #fff,
    679px 381px #fff, 1685px 1376px #fff, 637px 557px #fff, 1382px 57px #fff,
    1259px 1732px #fff, 232px 1321px #fff, 386px 1269px #fff, 1210px 1675px #fff,
    672px 379px #fff, 1564px 1704px #fff, 691px 1843px #fff, 1791px 1419px #fff,
    1853px 1220px #fff, 1437px 570px #fff, 864px 1443px #fff, 1241px 1271px #fff,
    450px 834px #fff, 408px 1581px #fff, 1431px 1368px #fff, 260px 376px #fff,
    666px 265px #fff, 1403px 1323px #fff, 156px 1183px #fff, 723px 1590px #fff,
    1325px 700px #fff, 698px 1356px #fff, 1935px 993px #fff, 1513px 131px #fff,
    1274px 1753px #fff, 1007px 1518px #fff, 1506px 653px #fff,
    1235px 1723px #fff, 421px 1712px #fff, 1595px 1303px #fff, 1104px 391px #fff,
    1286px 1781px #fff, 1076px 762px #fff, 812px 771px #fff, 876px 589px #fff,
    198px 297px #fff, 337px 1419px #fff, 1291px 1305px #fff, 869px 1121px #fff,
    228px 864px #fff, 673px 1866px #fff, 1430px 1884px #fff, 1601px 1601px #fff,
    1735px 1007px #fff, 964px 370px #fff, 1474px 1715px #fff, 1232px 677px #fff,
    1331px 1357px #fff, 1300px 248px #fff, 309px 1245px #fff, 1000px 1539px #fff,
    1612px 36px #fff, 1115px 1429px #fff, 1707px 507px #fff, 1940px 1150px #fff,
    204px 1144px #fff, 419px 576px #fff, 1257px 838px #fff, 1521px 1016px #fff,
    1500px 826px #fff, 1294px 1530px #fff, 1536px 1268px #fff, 994px 1148px #fff,
    1758px 1939px #fff, 1104px 1314px #fff, 447px 1263px #fff, 1453px 842px #fff,
    605px 448px #fff, 1829px 728px #fff, 1799px 1026px #fff, 446px 459px #fff,
    1873px 260px #fff, 14px 571px #fff, 1491px 1613px #fff, 903px 754px #fff,
    1644px 1634px #fff, 1910px 193px #fff, 1870px 1093px #fff,
    1098px 1829px #fff, 1215px 1590px #fff, 1420px 1482px #fff,
    435px 1190px #fff, 717px 250px #fff, 294px 614px #fff, 424px 527px #fff,
    1883px 1096px #fff, 326px 562px #fff, 702px 368px #fff, 636px 495px #fff,
    1990px 403px #fff, 1800px 1363px #fff, 1424px 1411px #fff,
    1499px 1168px #fff, 119px 1210px #fff, 731px 1189px #fff, 733px 895px #fff,
    732px 1006px #fff, 510px 1136px #fff, 1788px 914px #fff, 1780px 1514px #fff,
    59px 1598px #fff, 521px 946px #fff, 1077px 933px #fff, 1755px 1923px #fff,
    1814px 1984px #fff, 245px 667px #fff, 1803px 1676px #fff, 278px 1132px #fff,
    1543px 1121px #fff, 608px 1914px #fff, 180px 1718px #fff, 191px 1932px #fff,
    1992px 424px #fff, 519px 70px #fff, 1720px 104px #fff, 5px 998px #fff,
    699px 940px #fff, 216px 1090px #fff, 1920px 1724px #fff, 1167px 1162px #fff,
    1158px 1939px #fff, 1357px 379px #fff, 384px 1765px #fff, 1305px 432px #fff,
    1274px 1429px #fff, 1624px 1416px #fff, 185px 964px #fff, 1810px 536px #fff,
    305px 1733px #fff, 854px 310px #fff, 1837px 246px #fff, 1334px 318px #fff,
    714px 1566px #fff, 919px 1877px #fff, 918px 326px #fff, 736px 1142px #fff,
    473px 1919px #fff, 322px 1286px #fff, 1844px 225px #fff, 1899px 587px #fff,
    1487px 793px #fff, 1064px 274px #fff, 216px 895px #fff, 967px 27px #fff,
    827px 1509px #fff, 127px 1096px #fff, 905px 915px #fff, 632px 929px #fff,
    432px 1460px #fff, 714px 718px #fff, 626px 1653px #fff, 439px 1601px #fff,
    1411px 236px #fff, 1021px 552px #fff, 464px 302px #fff, 1892px 793px #fff,
    684px 1043px #fff, 1176px 1484px #fff, 338px 892px #fff, 1606px 1560px #fff,
    264px 393px #fff, 445px 457px #fff, 1683px 1581px #fff, 1173px 332px #fff,
    962px 704px #fff, 1194px 1940px #fff, 1035px 1777px #fff, 1520px 226px #fff,
    989px 1368px #fff, 1047px 560px #fff, 407px 1090px #fff, 1296px 524px #fff,
    1444px 477px #fff, 845px 399px #fff, 315px 1862px #fff, 331px 1054px #fff,
    435px 1438px #fff, 1862px 1026px #fff, 1092px 1019px #fff,
    1111px 1207px #fff, 1139px 668px #fff, 924px 1331px #fff, 1247px 1780px #fff,
    1617px 1220px #fff, 909px 688px #fff, 431px 1996px #fff, 1411px 1434px #fff,
    196px 220px #fff, 1838px 182px #fff, 1372px 1371px #fff, 880px 697px #fff,
    1645px 193px #fff, 141px 1843px #fff, 1159px 1928px #fff, 424px 284px #fff,
    1458px 1811px #fff, 1019px 1913px #fff, 1433px 641px #fff, 232px 526px #fff,
    1926px 1800px #fff, 1076px 1435px #fff, 791px 1318px #fff, 779px 463px #fff,
    72px 1302px #fff, 1527px 306px #fff, 1239px 774px #fff, 452px 590px #fff,
    443px 1780px #fff, 1949px 1919px #fff, 1041px 1531px #fff,
    1725px 1661px #fff, 1452px 1687px #fff, 26px 563px #fff, 1819px 560px #fff,
    1324px 1504px #fff, 686px 1295px #fff, 1509px 1728px #fff, 591px 1955px #fff,
    26px 684px #fff, 1003px 1724px #fff, 594px 1795px #fff, 1384px 1353px #fff,
    601px 1347px #fff, 732px 1489px #fff, 1366px 1663px #fff, 1854px 1178px #fff,
    1007px 841px #fff, 839px 1923px #fff, 927px 958px #fff, 1043px 103px #fff,
    120px 1034px #fff, 1557px 1471px #fff, 91px 1366px #fff, 1859px 729px #fff,
    1132px 655px #fff, 1239px 1870px #fff, 1225px 611px #fff, 684px 992px #fff,
    1393px 1267px #fff, 297px 1431px #fff, 923px 1677px #fff, 707px 1018px #fff,
    1212px 1619px #fff, 1203px 1634px #fff, 430px 1003px #fff, 404px 478px #fff,
    1887px 261px #fff, 1933px 105px #fff, 1524px 967px #fff, 947px 1191px #fff,
    1283px 1899px #fff, 1894px 1589px #fff, 1171px 1179px #fff, 496px 588px #fff,
    1233px 1465px #fff, 745px 1230px #fff, 740px 1894px #fff, 1505px 1806px #fff,
    1967px 506px #fff, 1622px 374px #fff, 376px 1534px #fff, 518px 391px #fff,
    448px 44px #fff, 442px 1770px #fff, 700px 664px #fff, 1636px 1541px #fff,
    1413px 217px #fff, 781px 1609px #fff, 830px 439px #fff, 775px 230px #fff,
    574px 1015px #fff, 403px 1631px #fff, 587px 161px #fff, 229px 1463px #fff,
    432px 1816px #fff, 1407px 253px #fff, 533px 1966px #fff, 561px 1411px #fff,
    8px 876px #fff, 407px 1209px #fff, 479px 667px #fff, 365px 1765px #fff,
    330px 215px #fff, 832px 1314px #fff, 71px 684px #fff, 1152px 983px #fff,
    1700px 1058px #fff, 1757px 999px #fff, 1721px 6px #fff, 1105px 1663px #fff,
    1564px 433px #fff, 1170px 1273px #fff, 1069px 28px #fff, 948px 169px #fff,
    1122px 1380px #fff, 505px 440px #fff, 1865px 36px #fff, 410px 1160px #fff,
    691px 520px #fff, 233px 1920px #fff, 1264px 248px #fff, 1742px 835px #fff,
    403px 375px #fff, 413px 9px #fff, 1679px 1919px #fff, 1734px 1850px #fff,
    505px 1225px #fff, 204px 330px #fff, 22px 654px #fff, 1628px 1216px #fff,
    232px 1202px #fff, 41px 1229px #fff, 1730px 1380px #fff, 671px 798px #fff,
    1783px 1206px #fff, 1707px 549px #fff, 1834px 434px #fff, 1130px 1369px #fff,
    1028px 1949px #fff, 1126px 1144px #fff, 932px 1909px #fff, 1518px 281px #fff,
    901px 784px #fff, 113px 689px #fff, 1564px 956px #fff, 113px 425px #fff,
    887px 1889px #fff, 1295px 1954px #fff, 45px 1113px #fff, 1562px 1367px #fff,
    887px 1621px #fff, 1638px 462px #fff, 856px 338px #fff, 379px 1336px #fff,
    459px 1262px #fff, 682px 2px #fff, 808px 1874px #fff, 1142px 1335px #fff,
    1456px 1200px #fff, 148px 1990px #fff, 234px 220px #fff, 1022px 1296px #fff,
    66px 80px #fff, 1614px 1461px #fff, 1859px 1347px #fff, 1194px 315px #fff,
    1037px 1181px #fff, 878px 229px #fff, 1910px 1160px #fff, 1026px 1535px #fff,
    352px 1762px #fff, 368px 1381px #fff, 993px 271px #fff, 1942px 1807px #fff,
    1309px 565px #fff, 718px 1725px #fff, 1254px 704px #fff, 1305px 536px #fff,
    1666px 559px #fff, 664px 366px #fff, 82px 329px #fff, 33px 23px #fff,
    224px 1178px #fff, 251px 530px #fff, 1785px 1431px #fff, 11px 1159px #fff,
    1478px 892px #fff, 162px 932px #fff, 1419px 1px #fff, 1197px 877px #fff,
    1210px 210px #fff, 850px 375px #fff, 1104px 490px #fff, 578px 56px #fff,
    1809px 585px #fff, 1995px 1713px #fff, 391px 523px #fff, 1825px 239px #fff,
    716px 445px #fff, 321px 1952px #fff, 1897px 1730px #fff, 337px 1202px #fff,
    617px 1371px #fff, 1628px 1885px #fff, 604px 291px #fff, 1772px 1129px #fff,
    1801px 294px #fff, 1736px 492px #fff, 349px 1345px #fff, 1756px 1364px #fff,
    1070px 1054px #fff, 1385px 347px #fff, 1885px 470px #fff, 611px 336px #fff,
    915px 181px #fff, 417px 1917px #fff, 1556px 1667px #fff, 1917px 188px #fff,
    203px 211px #fff, 1525px 1754px #fff, 491px 1110px #fff, 1614px 581px #fff,
    1804px 1832px #fff, 1757px 1737px #fff;
}

#stars2 {
  pointer-events: none;

  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1867px 1047px #fff, 1940px 1028px #fff, 1007px 1962px #fff,
    7px 755px #fff, 896px 195px #fff, 474px 1747px #fff, 755px 520px #fff,
    312px 521px #fff, 1168px 1610px #fff, 1806px 917px #fff, 390px 445px #fff,
    17px 705px #fff, 1474px 1399px #fff, 981px 1436px #fff, 1046px 1056px #fff,
    1151px 923px #fff, 127px 528px #fff, 40px 973px #fff, 1520px 631px #fff,
    1116px 385px #fff, 1170px 1699px #fff, 1373px 1332px #fff, 1895px 364px #fff,
    1217px 796px #fff, 443px 699px #fff, 426px 1394px #fff, 1715px 1630px #fff,
    1759px 1211px #fff, 1713px 196px #fff, 807px 1149px #fff, 1010px 985px #fff,
    1679px 1996px #fff, 1786px 1430px #fff, 1792px 1048px #fff,
    1308px 1784px #fff, 600px 88px #fff, 522px 262px #fff, 1519px 1215px #fff,
    1360px 884px #fff, 1412px 788px #fff, 1542px 797px #fff, 1688px 269px #fff,
    503px 1187px #fff, 533px 487px #fff, 894px 1842px #fff, 736px 1807px #fff,
    1116px 1708px #fff, 1306px 40px #fff, 241px 1431px #fff, 1942px 1206px #fff,
    270px 968px #fff, 1665px 1413px #fff, 1207px 1130px #fff, 1041px 1487px #fff,
    959px 852px #fff, 591px 749px #fff, 78px 1935px #fff, 1102px 507px #fff,
    1967px 875px #fff, 693px 1067px #fff, 600px 276px #fff, 1316px 710px #fff,
    1968px 1885px #fff, 1690px 284px #fff, 181px 413px #fff, 1275px 973px #fff,
    357px 996px #fff, 404px 1903px #fff, 404px 577px #fff, 256px 1353px #fff,
    1432px 1456px #fff, 1542px 1651px #fff, 1052px 347px #fff, 283px 1517px #fff,
    1028px 1654px #fff, 624px 1512px #fff, 1260px 991px #fff, 254px 1527px #fff,
    1210px 1155px #fff, 1245px 1827px #fff, 194px 112px #fff, 538px 666px #fff,
    1573px 1910px #fff, 1902px 1901px #fff, 16px 1387px #fff, 251px 357px #fff,
    1915px 1594px #fff, 1707px 750px #fff, 638px 1245px #fff, 482px 300px #fff,
    364px 1924px #fff, 1671px 1306px #fff, 503px 1952px #fff, 438px 1613px #fff,
    1426px 1782px #fff, 351px 568px #fff, 436px 1603px #fff, 1020px 1650px #fff,
    631px 1981px #fff, 812px 1992px #fff, 554px 1760px #fff, 1607px 1547px #fff,
    937px 982px #fff, 1971px 1431px #fff, 1454px 76px #fff, 1163px 82px #fff,
    875px 1617px #fff, 1828px 1002px #fff, 1369px 197px #fff, 995px 263px #fff,
    145px 1302px #fff, 1024px 928px #fff, 982px 1849px #fff, 770px 555px #fff,
    1330px 69px #fff, 1461px 1315px #fff, 887px 832px #fff, 1746px 1121px #fff,
    1004px 1553px #fff, 713px 1172px #fff, 837px 1793px #fff, 1268px 639px #fff,
    1439px 1398px #fff, 108px 1299px #fff, 1791px 72px #fff, 1466px 1338px #fff,
    1152px 1265px #fff, 1443px 1123px #fff, 947px 687px #fff, 1804px 547px #fff,
    1466px 1946px #fff, 177px 732px #fff, 300px 148px #fff, 136px 1712px #fff,
    806px 684px #fff, 274px 787px #fff, 687px 1923px #fff, 396px 1696px #fff,
    1457px 42px #fff, 52px 1657px #fff, 1564px 1311px #fff, 1935px 1167px #fff,
    342px 353px #fff, 1008px 1284px #fff, 153px 1023px #fff, 113px 1290px #fff,
    1339px 1094px #fff, 686px 1652px #fff, 1171px 1332px #fff, 706px 1454px #fff,
    1284px 959px #fff, 1967px 1904px #fff, 1728px 1877px #fff, 626px 1763px #fff,
    578px 568px #fff, 1421px 865px #fff, 1278px 1014px #fff, 1625px 1005px #fff,
    421px 674px #fff, 438px 298px #fff, 507px 908px #fff, 626px 700px #fff,
    1661px 364px #fff, 1093px 1984px #fff, 47px 1985px #fff, 1022px 553px #fff,
    1183px 672px #fff, 905px 1025px #fff, 474px 542px #fff, 1217px 1677px #fff,
    962px 385px #fff, 1315px 443px #fff, 924px 1295px #fff, 535px 969px #fff,
    1980px 557px #fff, 115px 1077px #fff, 1212px 758px #fff, 1447px 1765px #fff,
    450px 711px #fff, 1798px 1837px #fff, 1970px 1354px #fff, 11px 659px #fff,
    1102px 953px #fff, 290px 1118px #fff, 1350px 611px #fff, 1930px 437px #fff,
    454px 1433px #fff, 1272px 933px #fff, 1880px 370px #fff, 1908px 1336px #fff,
    1802px 1336px #fff, 727px 1985px #fff, 1424px 1788px #fff, 581px 1589px #fff,
    1285px 1428px #fff, 6px 351px #fff, 1399px 155px #fff, 1730px 218px #fff,
    380px 1128px #fff, 727px 989px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  pointer-events: none;

  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1867px 1047px #fff, 1940px 1028px #fff, 1007px 1962px #fff,
    7px 755px #fff, 896px 195px #fff, 474px 1747px #fff, 755px 520px #fff,
    312px 521px #fff, 1168px 1610px #fff, 1806px 917px #fff, 390px 445px #fff,
    17px 705px #fff, 1474px 1399px #fff, 981px 1436px #fff, 1046px 1056px #fff,
    1151px 923px #fff, 127px 528px #fff, 40px 973px #fff, 1520px 631px #fff,
    1116px 385px #fff, 1170px 1699px #fff, 1373px 1332px #fff, 1895px 364px #fff,
    1217px 796px #fff, 443px 699px #fff, 426px 1394px #fff, 1715px 1630px #fff,
    1759px 1211px #fff, 1713px 196px #fff, 807px 1149px #fff, 1010px 985px #fff,
    1679px 1996px #fff, 1786px 1430px #fff, 1792px 1048px #fff,
    1308px 1784px #fff, 600px 88px #fff, 522px 262px #fff, 1519px 1215px #fff,
    1360px 884px #fff, 1412px 788px #fff, 1542px 797px #fff, 1688px 269px #fff,
    503px 1187px #fff, 533px 487px #fff, 894px 1842px #fff, 736px 1807px #fff,
    1116px 1708px #fff, 1306px 40px #fff, 241px 1431px #fff, 1942px 1206px #fff,
    270px 968px #fff, 1665px 1413px #fff, 1207px 1130px #fff, 1041px 1487px #fff,
    959px 852px #fff, 591px 749px #fff, 78px 1935px #fff, 1102px 507px #fff,
    1967px 875px #fff, 693px 1067px #fff, 600px 276px #fff, 1316px 710px #fff,
    1968px 1885px #fff, 1690px 284px #fff, 181px 413px #fff, 1275px 973px #fff,
    357px 996px #fff, 404px 1903px #fff, 404px 577px #fff, 256px 1353px #fff,
    1432px 1456px #fff, 1542px 1651px #fff, 1052px 347px #fff, 283px 1517px #fff,
    1028px 1654px #fff, 624px 1512px #fff, 1260px 991px #fff, 254px 1527px #fff,
    1210px 1155px #fff, 1245px 1827px #fff, 194px 112px #fff, 538px 666px #fff,
    1573px 1910px #fff, 1902px 1901px #fff, 16px 1387px #fff, 251px 357px #fff,
    1915px 1594px #fff, 1707px 750px #fff, 638px 1245px #fff, 482px 300px #fff,
    364px 1924px #fff, 1671px 1306px #fff, 503px 1952px #fff, 438px 1613px #fff,
    1426px 1782px #fff, 351px 568px #fff, 436px 1603px #fff, 1020px 1650px #fff,
    631px 1981px #fff, 812px 1992px #fff, 554px 1760px #fff, 1607px 1547px #fff,
    937px 982px #fff, 1971px 1431px #fff, 1454px 76px #fff, 1163px 82px #fff,
    875px 1617px #fff, 1828px 1002px #fff, 1369px 197px #fff, 995px 263px #fff,
    145px 1302px #fff, 1024px 928px #fff, 982px 1849px #fff, 770px 555px #fff,
    1330px 69px #fff, 1461px 1315px #fff, 887px 832px #fff, 1746px 1121px #fff,
    1004px 1553px #fff, 713px 1172px #fff, 837px 1793px #fff, 1268px 639px #fff,
    1439px 1398px #fff, 108px 1299px #fff, 1791px 72px #fff, 1466px 1338px #fff,
    1152px 1265px #fff, 1443px 1123px #fff, 947px 687px #fff, 1804px 547px #fff,
    1466px 1946px #fff, 177px 732px #fff, 300px 148px #fff, 136px 1712px #fff,
    806px 684px #fff, 274px 787px #fff, 687px 1923px #fff, 396px 1696px #fff,
    1457px 42px #fff, 52px 1657px #fff, 1564px 1311px #fff, 1935px 1167px #fff,
    342px 353px #fff, 1008px 1284px #fff, 153px 1023px #fff, 113px 1290px #fff,
    1339px 1094px #fff, 686px 1652px #fff, 1171px 1332px #fff, 706px 1454px #fff,
    1284px 959px #fff, 1967px 1904px #fff, 1728px 1877px #fff, 626px 1763px #fff,
    578px 568px #fff, 1421px 865px #fff, 1278px 1014px #fff, 1625px 1005px #fff,
    421px 674px #fff, 438px 298px #fff, 507px 908px #fff, 626px 700px #fff,
    1661px 364px #fff, 1093px 1984px #fff, 47px 1985px #fff, 1022px 553px #fff,
    1183px 672px #fff, 905px 1025px #fff, 474px 542px #fff, 1217px 1677px #fff,
    962px 385px #fff, 1315px 443px #fff, 924px 1295px #fff, 535px 969px #fff,
    1980px 557px #fff, 115px 1077px #fff, 1212px 758px #fff, 1447px 1765px #fff,
    450px 711px #fff, 1798px 1837px #fff, 1970px 1354px #fff, 11px 659px #fff,
    1102px 953px #fff, 290px 1118px #fff, 1350px 611px #fff, 1930px 437px #fff,
    454px 1433px #fff, 1272px 933px #fff, 1880px 370px #fff, 1908px 1336px #fff,
    1802px 1336px #fff, 727px 1985px #fff, 1424px 1788px #fff, 581px 1589px #fff,
    1285px 1428px #fff, 6px 351px #fff, 1399px 155px #fff, 1730px 218px #fff,
    380px 1128px #fff, 727px 989px #fff;
}

#stars3 {
  pointer-events: none;

  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1823px 1168px #fff, 863px 40px #fff, 1209px 440px #fff,
    287px 606px #fff, 1762px 375px #fff, 1644px 1289px #fff, 1411px 144px #fff,
    1063px 1704px #fff, 1077px 1375px #fff, 671px 1765px #fff, 996px 636px #fff,
    1985px 408px #fff, 1700px 1024px #fff, 1078px 1344px #fff, 1533px 113px #fff,
    1078px 750px #fff, 1916px 1689px #fff, 1176px 571px #fff, 1441px 356px #fff,
    527px 1753px #fff, 1229px 584px #fff, 1454px 3px #fff, 684px 1000px #fff,
    261px 1776px #fff, 1878px 1184px #fff, 838px 1119px #fff, 619px 23px #fff,
    456px 926px #fff, 1991px 1752px #fff, 1410px 492px #fff, 612px 1279px #fff,
    1630px 1888px #fff, 529px 1809px #fff, 976px 122px #fff, 24px 1358px #fff,
    1126px 550px #fff, 1957px 1935px #fff, 1718px 319px #fff, 946px 406px #fff,
    381px 1176px #fff, 604px 1797px #fff, 1753px 1836px #fff, 1557px 96px #fff,
    401px 1173px #fff, 453px 1909px #fff, 150px 1572px #fff, 702px 1874px #fff,
    1770px 1048px #fff, 1196px 195px #fff, 1228px 355px #fff, 282px 1102px #fff,
    1818px 221px #fff, 1982px 1912px #fff, 1185px 1356px #fff,
    1817px 1704px #fff, 1220px 1724px #fff, 152px 1796px #fff, 1758px 628px #fff,
    173px 1591px #fff, 1330px 660px #fff, 360px 99px #fff, 186px 1647px #fff,
    1875px 1122px #fff, 1758px 427px #fff, 626px 1052px #fff, 1285px 1864px #fff,
    715px 1749px #fff, 1432px 382px #fff, 1365px 392px #fff, 215px 1450px #fff,
    732px 600px #fff, 947px 1426px #fff, 72px 904px #fff, 894px 223px #fff,
    916px 1737px #fff, 81px 920px #fff, 1836px 1137px #fff, 157px 1430px #fff,
    1168px 1687px #fff, 531px 1779px #fff, 564px 1966px #fff, 941px 1871px #fff,
    1931px 1307px #fff, 795px 348px #fff, 206px 598px #fff, 1433px 224px #fff,
    710px 1307px #fff, 1081px 379px #fff, 80px 1684px #fff, 1166px 659px #fff,
    364px 1368px #fff, 1410px 284px #fff, 251px 253px #fff, 825px 582px #fff,
    1651px 1123px #fff, 650px 1509px #fff, 937px 367px #fff, 1288px 976px #fff,
    1339px 1079px #fff, 1173px 830px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  pointer-events: none;

  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1823px 1168px #fff, 863px 40px #fff, 1209px 440px #fff,
    287px 606px #fff, 1762px 375px #fff, 1644px 1289px #fff, 1411px 144px #fff,
    1063px 1704px #fff, 1077px 1375px #fff, 671px 1765px #fff, 996px 636px #fff,
    1985px 408px #fff, 1700px 1024px #fff, 1078px 1344px #fff, 1533px 113px #fff,
    1078px 750px #fff, 1916px 1689px #fff, 1176px 571px #fff, 1441px 356px #fff,
    527px 1753px #fff, 1229px 584px #fff, 1454px 3px #fff, 684px 1000px #fff,
    261px 1776px #fff, 1878px 1184px #fff, 838px 1119px #fff, 619px 23px #fff,
    456px 926px #fff, 1991px 1752px #fff, 1410px 492px #fff, 612px 1279px #fff,
    1630px 1888px #fff, 529px 1809px #fff, 976px 122px #fff, 24px 1358px #fff,
    1126px 550px #fff, 1957px 1935px #fff, 1718px 319px #fff, 946px 406px #fff,
    381px 1176px #fff, 604px 1797px #fff, 1753px 1836px #fff, 1557px 96px #fff,
    401px 1173px #fff, 453px 1909px #fff, 150px 1572px #fff, 702px 1874px #fff,
    1770px 1048px #fff, 1196px 195px #fff, 1228px 355px #fff, 282px 1102px #fff,
    1818px 221px #fff, 1982px 1912px #fff, 1185px 1356px #fff,
    1817px 1704px #fff, 1220px 1724px #fff, 152px 1796px #fff, 1758px 628px #fff,
    173px 1591px #fff, 1330px 660px #fff, 360px 99px #fff, 186px 1647px #fff,
    1875px 1122px #fff, 1758px 427px #fff, 626px 1052px #fff, 1285px 1864px #fff,
    715px 1749px #fff, 1432px 382px #fff, 1365px 392px #fff, 215px 1450px #fff,
    732px 600px #fff, 947px 1426px #fff, 72px 904px #fff, 894px 223px #fff,
    916px 1737px #fff, 81px 920px #fff, 1836px 1137px #fff, 157px 1430px #fff,
    1168px 1687px #fff, 531px 1779px #fff, 564px 1966px #fff, 941px 1871px #fff,
    1931px 1307px #fff, 795px 348px #fff, 206px 598px #fff, 1433px 224px #fff,
    710px 1307px #fff, 1081px 379px #fff, 80px 1684px #fff, 1166px 659px #fff,
    364px 1368px #fff, 1410px 284px #fff, 251px 253px #fff, 825px 582px #fff,
    1651px 1123px #fff, 650px 1509px #fff, 937px 367px #fff, 1288px 976px #fff,
    1339px 1079px #fff, 1173px 830px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
